@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

* {
  font-family: 'Ubuntu', sans-serif;
}

html, body {
    padding:0px;
    margin:0px;
}
html{
  background-color: white; 
  overflow-x:hidden;
}

button {
  background-color:#35D4A0;
  border-style: none;
  text-indent:0;
  display:inline-block;
  font-weight:bold;
  text-align:center;
  color: #006D4C;
}
button:hover {
  background-color:#20C896;
  cursor:pointer;
}
button:active {
  position:relative;
  top:1px;
}

h1, h2, h3 {
 color: #006D4C;
}
a{
 color: #004D2C; 
}
a:{
 color: #999999; 
}

#content{
  width: 100%;
  height: calc(100%-50px);
  min-height:calc(100% - 55px);
}

.container{
  padding-top:5px; 
  width:80%;
  margin:5px auto;
}